<%- include("partials/header") %>

<h1>Mina kurser</h1>

<% if (courses.length === 0) { %>
    <p>Inga kurser ännu</p>
<% } else { %>
    <table>
        <tr>
            <th>Kurskod</th>
            <th>Namn</th>
            <th>Kursplan</th>
            <th>Progression</th>
            <th></th>
        </tr>

        <% courses.forEach(c => { %>
            <tr>
                <td><%= c.coursecode %></td>
                <td><%= c.coursename %></td>
                <td><a href="<%= c.syllabus %>" target="_blank">Länk</a></td>
                <td><%= c.progression %></td>
                <td>
                    <form action="/delete/<%= c.id %>" method="POST">
                        <button>Radera</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </table>
<% } %>

<%- include("partials/footer") %>